@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-neutral-900;
}

address {
    @apply not-italic;
}

.list {
    display: flex;
    align-items: top;
    -webkit-animation: loop 15s infinite linear;
    animation: loop 15s infinite linear;
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}