@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply max-w-[100vw] overflow-x-hidden bg-white dark:bg-greyDark text-greyDark dark:text-white bg-[url('/img/stardustWhite.png')] dark:bg-[url('/img/stardust.png')] bg-[length:170px_170px];
}

address {
    @apply not-italic;
}

.list {
    display: flex;
    align-items: top;
    -webkit-animation: loop 15s infinite linear;
    animation: loop 15s infinite linear;
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

#homepage-wrapper {
    height: 100vh;

    @supports (height: 100dvh) {
        height: 100dvh !important;
    }
}